<div class="wrapper">
  <div class="selection" *ngIf="!lottery">
    <div>Numbers</div>
    <div class="tp2 centertxt">
      <button *ngFor="let bet of betsbutton" [ngClass]="bet.color" type="button"
        (click)="addNumber(bet.number, bet.color)">{{bet.number}}</button>
    </div>
    <div class="tp2 centertxt">
      <button class="selectbutton" (click)="clearSelect()">Clear selection</button>
    </div>
  </div>
  <div class="selection centertxt" *ngIf="lottery">
    <div>Result</div>
    <div class="tp2 centertxt">
      <button [ngClass]="result.color" type="button">{{result.number}}</button>
    </div>
    <div class="tp2 centertxt">
      <div [ngClass]="resultcss">{{resulttxt}}</div>
    </div>
  </div>
  <div class="bet">
    <div>
      <button *ngFor="let bet of betsnum" [ngClass]="bet.color" type="button">{{bet.number}}</button>
    </div>
    <div class="tp5">
      <label class="betlabel pad1">x5</label>
      <input class="betinput pad1" [(ngModel)]="moneybetbox">
      <button class="betbuttonaux" type="button" (click)="startbet()">Ok</button>
    </div>
  </div>
  <div class="total">
    <div>
      Total: {{moneybet}}€
    </div>
    <div class="tp2">
      <button class="betbutton" type="button" (click)="startlottery()">Place bet</button>
    </div>
  </div>
</div>
